@using LotteryGenius.Web.Models
@using LotteryGenius.Web.Repositories
@using LotteryGenius.Web.ViewModels
@inject IPowerballRepository PowerballRepository
@{
    ViewData["Title"] = "Powerball";

    List<PowerWinnerViewModel> winnerDetails = ViewData["PowerWinnerDetails"] as List<PowerWinnerViewModel>;
    float winnerTotal = (float)ViewData["winnerTotal"];
    float powerplayTotal = (float)ViewData["PowerplayTotal"];
}

<div class="container-fluid">
    <div class="row mobile-row">
        <div class="col-md-4" style="padding: 50px;">
            <img class="img-fluid" src="~/images/powerball-pp.png" />
        </div>
        <div class="col-md-4">
            <table class="table table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <td style="background-color: rgba(255, 0, 0, 1) !important; color: white;">Numbers Matched</td>
                        <td style="background-color: rgba(255, 0, 0, 1) !important; color: white;">Prize</td>
                    </tr>
                </thead>
                <tr>
                    <td>5 + Powerball</td>
                    <td>Jackpot</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>$1,000,000</td>
                </tr>
                <tr>
                    <td>4 + Powerball</td>
                    <td>$50,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>3 + Powerball</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>$7</td>
                </tr>
                <tr>
                    <td>2 + Powerball</td>
                    <td>$7</td>
                </tr>
                <tr>
                    <td>1 + Powerball</td>
                    <td>$4</td>
                </tr>
                <tr>
                    <td>Powerball only</td>
                    <td>$4</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li>Total Amount Predicted - <span class="money-text">@(String.Format("{0:C0}", @winnerTotal))</span></li>
                <li>Total Powerplay Amount Predicted - <span class="money-text">@(String.Format("{0:C0}", @powerplayTotal))</span></li>
            </ul>
        </div>
    </div>
    <hr class="m-5" />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-responsive-md mobile-table" style="margin: 0 auto;">
                <thead>
                    <tr>
                        <th>Winning Numbers</th>
                        <th>Draw Date</th>
                        <th>Picked Winner(s)</th>
                        <th>Pick Date</th>
                        <th>Winning Amount</th>
                        <th>Powerplay Amount</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var winner in winnerDetails)
                    {
                        <tr>

                            <td>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item">
                                        <div class="mini-circle">@winner.ball1</div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="mini-circle">@winner.ball2</div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="mini-circle">@winner.ball3</div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="mini-circle">@winner.ball4</div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="mini-circle">@winner.ball5</div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="mini-powerball-circle">@winner.powerball</div>
                                    </li>
                                </ul>
                            </td>

                            <td><span class="mobile-date"><@winner.draw_date.ToString("MM/dd/yyyy")</span></td>

                            <td>

                                @foreach (var pickBall in winner.picks)
                                {

                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item">
                                            <div class="@PowerballRepository.checkWinner(@pickBall.ball1, @winner, "none")">@pickBall.ball1</div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="@PowerballRepository.checkWinner(@pickBall.ball2, @winner, "none")">@pickBall.ball2</div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="@PowerballRepository.checkWinner(@pickBall.ball3, @winner, "none")">@pickBall.ball3</div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="@PowerballRepository.checkWinner(@pickBall.ball4, @winner, "none")">@pickBall.ball4</div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="@PowerballRepository.checkWinner(@pickBall.ball5, @winner, "none")">@pickBall.ball5</div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="@PowerballRepository.checkWinner(@pickBall.powerball, @winner, "powerball")">@pickBall.powerball</div>
                                        </li>
                                    </ul>
                                }
                            </td>

                            <td>
                                <ul class="list-unstyled">
                                    @foreach (var pickDate in winner.picks)
                                    {

                                        <li class="list-item" style="margin-bottom: 2rem;">
                                            <span class="mobile-date">@pickDate.pick_date.ToString("MM/dd/yyyy")</span>
                                        </li>

                                    }
                                </ul>
                            </td>

                            <td>
                                <ul class="list-unstyled">
                                    @foreach (var pickAmount in winner.picks)
                                    {
                                        <li class="list-item" style="margin-bottom: 2rem; color: rgba(33, 108, 42, 1);">
                                            @{
                                                float nAmount;
                                                if (pickAmount.prize_id == 5)
                                                {
                                                    nAmount = float.Parse(winner.jackpot.Replace("$", string.Empty).Replace(",", string.Empty));
                                                }
                                                else
                                                {
                                                    nAmount = pickAmount.prize_amount;
                                                }
                                            }
                                            @(String.Format("{0:C0}", nAmount))
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    @foreach (var pickAmount in winner.picks)
                                    {
                                        <li class="list-item" style="margin-bottom: 2rem; color: rgba(33, 108, 42, 1);">
                                            @{
                                                float pAmount;
                                                string pPlay = "";
                                                if (pickAmount.prize_id == 5)
                                                {
                                                    pAmount = float.Parse(winner.jackpot.Replace("$", string.Empty).Replace(",", string.Empty));
                                                }
                                                else if (pickAmount.prize_id == 4)
                                                {
                                                    pAmount = pickAmount.prize_amount * 2;
                                                    pPlay = "2X";
                                                }
                                                else
                                                {
                                                    pAmount = pickAmount.prize_amount * Convert.ToInt16(@winner.powerplay.Substring(0, 1));
                                                    pPlay = winner.powerplay;
                                                }
                                            }
                                            <span style="color: rgba(0, 0, 0, 1);">(@(pPlay))</span> @(String.Format("{0:C0}", pAmount))
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>